.register {
  width: 300px;
  height: 400px;
  background-color: rgb(238, 238, 238);
  /* margin-left:500px;
   margin-right:500px; */
  margin: auto;
  margin-top: 45px;
  align-items: center;
  justify-content: center;
}
.registerLogo {
  text-align: center;
}
.registerDesc {
  text-align: center;
  margin-left: 40px;
}
form {
  margin-top: 70px;
  align-items: center;
}
form-group {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
input {
  width: 260px;
  height: 20px;
  outline:none;
}
.registerButton {
  margin-top: 20px;
  width: 260px;
  height: 30px;
  background-color: #00a441;
  text-align: center;
  margin-left: 20px;
  margin-bottom: 10px;
  color: white;
  border: 2px solid #00a441;
  cursor: pointer;
}

