.homeContainer {
  width: 900px;
  height: 400px;
  text-align: center;
  margin-left: 120px;
  margin-top: 50px;
}

.guide-text {
  padding-top: 80px;
}
.tickets {
  margin-top: 100px;
  height: 60px;
  width: 500px;
  margin-left: 200px;
}
.create-tickets {
  text-align: center;
  background-color: rgb(238, 238, 238);
}

.check-tickets {
  text-align: center;
  margin-top: 15px;
  background-color: black;
}

.content {
  margin-right: 90px;
}
